$AccentColor : #D31F39;
$AccentGradient : linear-gradient(93.94deg, #CC1B35 15.4%, #E11835 91.33%);
$HeadingColor : #606060;
$TextColor : #909090;
$OffWhiteColor : #FAFAFA;
$OffWhiteColor : #FAFAFA;

@mixin HeadingFonts {
	font-family: 'Rubik', 'Times New Roman', Times, serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: -1px;
	color: $HeadingColor;

	@include xs-and-up{
		font-size: 32px;
	}
	@include s-and-up{
		font-size: 40px;
	}
	@include m-and-up{
		font-size: 48px;
	}
}

@mixin SubHeadingFonts {
	font-family: 'Roboto', 'Times New Roman', Times, serif;
	font-weight: 500;
	font-size: 20px;
	color: $HeadingColor;

	@include xs-and-up{
		font-size: 24px;
	}
}

@mixin liFonts {
	font-family: 'Roboto', 'Times New Roman', Times, serif;
	font-weight: 500;
	font-size: 12px;
	color: $TextColor;

	@include xs-and-up{
		font-size: 16px;
	}
}

@mixin LargeTextFonts {
	font-family: 'Roboto', 'Times New Roman', Times, serif;
	font-weight: 500;
	font-size: 16px;
	color: $TextColor;

	@include s-and-up{
		font-size: 20px;
	}
	@include m-and-up{
		font-size: 24px;
	}
}

@mixin MediumTextFonts {
	font-family: 'Roboto', 'Times New Roman', Times, serif;
	font-weight: 500;
	font-size: 16px;
	color: $TextColor;

	@include s-and-up{
		font-size: 20px;
	}
	@include m-and-up{
		font-size: 24px;
	}
}

@mixin SmallTextFonts {
	font-family: 'Roboto', 'Times New Roman', Times, serif;
	font-weight: 500;
	font-size: 16px;
	color: $TextColor;

	@include m-and-up{
		font-size: 20px;
	}
}

@mixin CardShadow {
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 7px 32px rgba(0, 0, 0, 0.1);
}

@mixin CustomButton {
	color: $OffWhiteColor;
	background: $AccentGradient;
	border: none;
	box-shadow: 0 10px 20px rgba(211, 31, 57, 0.64);
	border-radius: 7px;
	transition: 100ms;
	outline: none;
	font-family: 'Rubik', 'Times New Roman', Times, serif;
	font-weight: 500;
	font-size: 16px;

	&:focus{ outline: none; }

	&:hover{ box-shadow: 0 5px 10px rgba(211, 31, 57, 0.64); }

	&:active{ box-shadow: none; }
}

@mixin CustomInputs {
	padding: 5px;
	border: none;
	border-radius: 10px;
	border-bottom: 3px solid $TextColor;
	background-color: darken($color: $OffWhiteColor, $amount: 2);

	&:hover{ background-color: darken($color: $OffWhiteColor, $amount: 4); }
	
	&:focus{
		outline: none;
		background-color: darken($color: $OffWhiteColor, $amount: 6);
		border-bottom: 3px solid $HeadingColor;
		color: $HeadingColor;
	}
}

// @include xs-and-up {
// 	// blah....
// }

@mixin xs-and-up {
	// Extra Small devices (thin phones, 319px and up)
	@media (min-width: 400px) { @content; }
}

@mixin s-and-up {
	// Small devices (phones, 576px and up)
	@media (min-width: 576px) { @content; }
}

@mixin m-and-up {
	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) { @content; }
}

@mixin l-and-up {
	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) { @content; }
}

@mixin xl-and-up {
	// X-Large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) { @content; }
}

@mixin xxl-and-up {
	// XX-Large devices (larger desktops, 1400px and up)
	@media (min-width: 1400px) { @content; }
}

// @include xs-and-down {
// 	// blah....
// }

@mixin xs-and-down {
	// X-Small devices (portrait phones, less than 576px)
	@media (max-width: 575.98px) { @content; }
}

@mixin s-and-down {
	// Small devices (landscape phones, less than 768px)
	@media (max-width: 767.98px) { @content; }
}

@mixin m-and-down {
	// Medium devices (tablets, less than 992px)
	@media (max-width: 991.98px) { @content; }
}

@mixin l-and-down {
	// Large devices (desktops, less than 1200px)
	@media (max-width: 1199.98px) { @content; }
}

@mixin xl-and-down {
	// X-Large devices (large desktops, less than 1400px)
	@media (max-width: 1399.98px) { @content; }
}