@import "../styles/theme.scss";

.container{
	background-color: cadetblue;
	margin: 25px auto 75px;

	@include s-and-up{
		margin: 25px auto 100px;
	}
}

.heading{
	@include HeadingFonts;
	margin: 25px auto;
	flex-basis: 100%;
}

.largeBook{
	background-color: rgb(114, 114, 103);
	perspective: 1250px;
	perspective-origin: center;
	position: relative;
	width: 500px;
	height: 600px;
	margin: auto;

	@include m-and-up {
		display: flex;
		flex-wrap: wrap;
		width: 97vw;
	}
	@include l-and-up {
		width: 950px;
	}
}

.page1, .page2, .page3, .page4{
	@include CardShadow;
	position: absolute;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	padding: 50px 0 20px;

	// overflow: auto;
	@include m-and-up{
		padding: 20px 0;
		position: static;
		width: 50%;
	}
}

.page1{
	// border-radius: 0 20px 20px 20px;
	// background-color: rgb(212, 252, 252);
	z-index: 4;
	@include m-and-up{
		z-index: 0;
	}
}

.page2{
	// border-radius: 20px 0 20px 20px;
	z-index: 3;
	@include m-and-up{
		position: absolute;
		width: 50%;
		left: 50%;
	}
	// background-color: rgb(255, 255, 218);
}
.page3{
	// border-radius: 20px 20px 0 20px;
	z-index: 2;
	@include m-and-up{
		position: absolute;
		width: 50%;
		// This will put scrollbar to the left side of the div but keep rest of the 
		//  content readable from left to right.
		direction: rtl !important;
		p{ direction: ltr; }
	}

	// background-color: rgb(255, 244, 223);
}
.page4{
	// border-radius: 20px 20px 20px 0;
	// background-color: rgb(255, 221, 227);
	z-index: 1;
	
	@include m-and-up{
		z-index: 0;
	}
}

.showRightSidePage{
	@include m-and-up{
		transform-origin: left;
		transform: rotateY(0deg);
		transition: transform 200ms;
		transition-delay: 200ms;
		transition-timing-function: linear;
	}
}
.hideRightSidePage{
	@include m-and-up{
		transform-origin: left;
		transform: rotateY(-90deg);
		transition: transform 200ms;
		transition-timing-function: linear;
	}
}

.showLeftSidePage{
	@include m-and-up{
		transform-origin: right;
		transform: rotateY(0deg);
		transition: transform 200ms;
		transition-delay: 200ms;
		transition-timing-function: linear;
	}
}
.hideLeftSidePage{
	@include m-and-up{
		transform-origin: right;
		transform: rotateY(90deg);
		transition: transform 200ms;
		transition-timing-function: linear;
	}
}

.flipPage{
	transform-origin: left;
	transform: rotateY(-258.68deg);
	transition: transform 1s;
	transition-timing-function: linear;
}
.unflipPage{
	transform-origin: left;
	transform: rotateY(0deg);
	transition: transform 1s;
	transition-timing-function: linear;
}

.imageErika, .imageNC, .imageNIU {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 100%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.imageErika{
	background-image: url(../../static/images/otherImages/EricaDP.png);
	margin: 20px auto;
	width: 125px;
	height: 125px;
}
.imageNC{
	background-image: url(../../static/images/otherImages/NC.png);
	width: 50px;
	height: 50px;
}
.imageNIU{
	background-image: url(../../static/images/otherImages/NIU.png);
	width: 50px;
	height: 50px;
}

.scrollableDiv{
	padding: 0 30px;
	overflow: auto;
	max-height: 90%;
	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-track{
		background-color: #D7D7D7;
	}
	&::-webkit-scrollbar-thumb{
		background-color: $AccentColor;
	}

	hr{
		margin: 2px auto;
		background-color: #ccc;
	}
}

.flexyDiv{
	display: flex;
	margin: 25px auto;

	@include l-and-up{
		margin: 17px auto;
	}

	ul{
		flex: 2;
		margin: 0;
		margin-left: 10px;
	}
}

.pageTitle{
	margin-bottom: 20px;
	color: $HeadingColor;
	font-family: 'Rubik', 'Times New Roman', Times, serif;
	font-size: 24px;

	@include m-and-up{
		font-size: 20px;
	}
	@include l-and-up{
		font-size: 24px;
	}
}

.pageSubTitle{
	text-align: left;
	color: $HeadingColor;
	font-family: 'Rubik', 'Times New Roman', Times, serif;
	font-size: 20px;

	@include m-and-up{
		font-size: 16px;
	}
	@include l-and-up{
		font-size: 20px;
	}
}
.pageSubTitleSmall{
	margin: 20px auto 0;
	text-align: left;
	color: $HeadingColor;
	font-family: 'Rubik', 'Times New Roman', Times, serif;
	font-size: 18px;

	@include m-and-up{
		font-size: 16px;
	}
	@include l-and-up{
		font-size: 18px;
	}
	// color: rgb(42, 165, 42);
}

.pageText{
	text-align: left;
	color: $TextColor;
	font-family: 'Roboto', 'Times New Roman', Times, serif;
	font-size: 16px;
	margin-bottom: 20px;

	@include m-and-up{
		font-size: 14px;
	}
	@include l-and-up{
		font-size: 16px;
	}
	// color: rgb(138, 114, 84);

	span{ color: $AccentColor; }
}
.pageTextSmall{
	text-align: left;
	color: $TextColor;
	font-family: 'Roboto', 'Times New Roman', Times, serif;
	font-size: 13px;

	// color: rgb(100, 84, 138);
}

