@import "../styles/theme.scss";

.container{
	@include CardShadow;
	text-align: left;
	margin: 25px auto;
	padding: 25px 0 35px;

	@include s-and-up{
		margin: 50px;
		padding: 50px 0 70px;
	}
	@include m-and-up{
		display: flex;
		flex-wrap: wrap;
		margin: 100px 25px;
		padding: 50px 25px 70px;
	}
	@include l-and-up {
		margin: 100px 50px;
	}
	@include xl-and-up {
		width: 1100px;
		margin: 100px auto;
	}
	
	h1{
		@include HeadingFonts;
		text-align: center;
		margin-bottom: 25px;
		flex-basis: 100%;

		@include s-and-up{
			margin-bottom: 50px;
		}
	}

	.left{
		flex-shrink: 1;

		form{
			@include MediumTextFonts;
			width: 95vw;
			margin: auto;

			@include s-and-up {
				width: 400px;
			}
	
			.customLabel{
				color: $AccentColor;
			}

			.name, .email, .message{
				@include CustomInputs;
				@include SmallTextFonts;
				margin: 5px auto 10px;
				width: 95vw;

				@include s-and-up {
					width: 400px;
				}
			}

			.submitBtn{
				@include CustomButton;
				padding: 10px 25px;
				display: block;
				margin: auto;

				@include s-and-up{
					padding: 18px 45px;
				}
			}
		}
	}

	.right{
		flex-grow: 1;

		background-image: url(../../static/images/undrawImages/undraw_Newsletter_re_wrob.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: none;

		@include m-and-up {
			display: block;
		}

	}
	
}

