@import "../styles/theme.scss";

.hrStyle{
	// position: absolute;
	// right: 0;
	// left: 0;
	// border: none;
	// background-color: $AccentColor;
	// width: 1px;
	// height: 1000px;
	// margin: auto;

	border: none;
	border-radius: 100px;
	background-color: $AccentColor;
	width: 60px;
	height: 10px;
	margin: auto;
}