@import "../styles/theme.scss";

.container{
	@include CardShadow;
	border-radius: 20px 20px 0 0;
	padding: 10px 0;
	margin-top: 25px;

	@include m-and-up{
		margin-top: 50px;
	}

	p{
		@include SmallTextFonts;
		color: $HeadingColor;
		margin: 5px;
	}

	div{
		display: flex;
		justify-content: space-evenly;
		padding: 5px 0;
		
		@include s-and-up{
			width: 300px;
			margin: auto;
		}
		
		button{
			@include CustomButton;
			box-shadow: 0px 3px 5px rgba(211, 31, 57, 0.6);
			border-radius: 5px;
			width: 30px;
			height: 30px;

			@include m-and-up{
				width: 40px;
				height: 40px;
				font-size: 24px;
			}

			&:focus{ outline: none; }

			&:hover{ box-shadow: 0px 1px 2px rgba(211, 31, 57, 0.5); }
		
			&:active{ box-shadow: none; }
		}
	}

}