@import "../styles/theme.scss";

.container{
	// background-color: burlywood;	
}

.bg{
	position: relative;
	background-image: url(../../static/images/otherImages/joshua-earle--87JyMb9ZfU-unsplash.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

.heading{
	position: absolute;
	margin: -65vh auto 0;
	padding: 20px;
	left: 0;
	right: 0;

	font-family: 'Rubik', 'Times New Roman', Times, serif;
	font-weight: 700;
	font-size: 16px;
	color: #333;

	background-color: transparent;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 7px 32px rgba(0, 0, 0, 0.2);

	@include s-and-up {
		width: 70vw;
	}
	@include m-and-up {
		font-size: 24px;
	}
	@include l-and-up {
		width: 600px;
	}
	@include xl-and-up {
		width: 700px;
		font-size: 32px;
	}
}

.philosophy{
	width: 90vw;
	margin: 25px auto;
	
	@include s-and-up {
		margin: 50px auto;
	}
	@include l-and-up{
		width: 900px;
		margin: 100px auto;
	}

	h1{
		@include HeadingFonts;
		margin-bottom: 25px;

		@include l-and-up{
			margin-bottom: 50px;
		}
	}
	h4{
		@include LargeTextFonts;
		margin: 25px auto;

		@include l-and-up {
			margin: 50px auto;
		}
	}
	button{
		@include CustomButton;
		margin-bottom: 20px;
		padding: 0;

		.icon{
			float: left;
			border-radius: 7px 0 0 7px;
			background-color: black;
			font-size: 20px;
			padding: 22px 20px;

			@include l-and-up {
				padding: 22px 30px;
				font-size: 24px;
			}
		}
		
		.text{
			float: none;
			@include s-and-up {
				float: right;
			}

			p{
				padding: 13px 0;
				@include s-and-up {
					padding: 23px 20px;
				}
			}
		}
		
	}

}
