@import "../styles/theme.scss";

.container{
	position: relative;
	z-index: 1000;
}

.logoDiv{
	display: flex;
	
	p { 
		text-align: left;
		padding: 10px 0 0 10px;
		margin: 0;
		width: 165px;
		white-space: initial;
		overflow: hidden;
		font-family: 'Rubik','Times New Roman', Times, serif;
		font-weight: 700;
		font-size: 13px;
		color: #505050;
		display: none;

		@include xs-and-up{
			width: 200px;
			font-size: 16px;
		}
	}

	@media (min-width: 360px) {
		img{
			border-right: 2px solid #606060;
		}

		p { 
			display: inline;
		}
	}
}

.links{
	font-family: 'Rubik','Times New Roman', Times, serif;
	font-weight: 700;
	font-size: 16px;
	margin: 5px 0 5px 25px;

	// overflow: hidden;
	// white-space: nowrap;
	
	color: $AccentColor !important;
	&:hover{
		color: $HeadingColor !important;
	}

	@include l-and-up {
		font-size: 20px;
		margin: 5px 0 5px 35px;
	}
}

///////////// Work in progress /////////////////////
// .notActive{
// 	color: $AccentColor;
// }

// .notActive:hover{
// 	color: $HeadingColor;
// }

// .active{
// 	color: $HeadingColor;
// }