@import "../styles/theme.scss";

.container{
	position: relative;
	z-index: 1000;
}

.logoDiv{
	display: flex;
	
	p { 
		text-align: left;
		padding: 10px 0 0 5px;
		margin: 0;
		width: 170px;

		white-space: initial;
		overflow: hidden;
		font-family: 'Rubik','Times New Roman', Times, serif;
		font-weight: 700;
		font-size: 0.8rem;
		color: #505050;

		display: none; 
	}

	@media (min-width: 360px) {
		img{
			border-right: 2px solid #606060;
		}

		p { 
			display: inline;
		}
	}
}

.links{
	font-family: 'Rubik','Times New Roman', Times, serif;
	font-weight: 700;
	font-size: 1rem;
	margin: auto 0 auto 20px;

	overflow: hidden;
	white-space: nowrap;
	
	color: $AccentColor !important;
	&:hover{
		color: $HeadingColor !important;
	}
}

///////////// Work in progress /////////////////////
// .notActive{
// 	color: $AccentColor;
// }

// .notActive:hover{
// 	color: $HeadingColor;
// }

// .active{
// 	color: $HeadingColor;
// }