@import "../styles/theme.scss";

.container{
	margin: 25px auto;

	@include s-and-up{
		margin: 50px auto;
	}
	@include l-and-up{
		margin: 100px auto;
	}

	h1{
		@include HeadingFonts;
		margin-bottom: 25px;

		@include l-and-up{
			margin-bottom: 50px;
		}
	}

	h4{
		@include LargeTextFonts;
		padding: 0 10px;
		margin: 25px auto;
		max-width: 630px;

		span{ color: $AccentColor; }
	}
}

.serviceCardBox{
	margin: 25px auto;
	@include l-and-up{
		margin: 50px auto;
	}
}

.serviceCard{
	@include CardShadow;
	height: 100%;
	padding: 10px 0;

	.serviceCardContent{
		display: flex;
		flex-direction: column;
		height: 100%;

		h3, ul, h6, .highSchoolSVG, .collegeSVG, .graduateSVG, .educatorsSVG{
			margin: auto;
			justify-content: space-between;
		}

		h3{
			@include SubHeadingFonts;
			margin: 5px;
		}

		ul{
			@include liFonts;
			li{
				margin: 5px;
			}
		}
	
		h6{
			@include liFonts;
			margin: 5px;
		}
	}

}

.highSchoolSVG, .collegeSVG, .graduateSVG, .educatorsSVG{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 75px;
	width: 65vw;

	@include s-and-up{
		min-height: 100px;
		width: 350px;
	}
	@include m-and-up{
		min-height: 125px;
	}
}
.highSchoolSVG{
	background-image: url(../../static/images/undrawImages/highSchoolStudent.svg);
}
.collegeSVG{
	background-image: url(../../static/images/undrawImages/college.svg);
}
.graduateSVG{
	background-image: url(../../static/images/undrawImages/graduates.svg);
}
.educatorsSVG{
	background-image: url(../../static/images/undrawImages/educator.svg);
}
