@import "../styles/theme.scss";

.container{
	margin: 25px auto 75px;

	@include s-and-up{
		margin: 50px auto 100px;
	}
	@include m-and-up{
		margin: 100px auto;
	}

	h1{
		@include HeadingFonts;
		margin-bottom: 25px;

		@include s-and-up{
			margin-bottom: 50px;
		}
	}

	h4{
		@include LargeTextFonts;
		margin: 0 auto 25px;
		max-width: 630px;

		span{
			color: $AccentColor;
		}
	}
}

.serviceCardBox{
}

.serviceCard{
	@include CardShadow;
	width: 75vw;
	height: 100%;
	padding: 10px 0;
	// background-color: rgb(252, 170, 115);

	.serviceCardContent{
		display: flex;
		flex-direction: column;
		height: 100%;

		h3, ul, h6, .highSchoolSVG, .collegeSVG, .graduateSVG, .educatorsSVG{
			margin: auto;
			justify-content: space-between;
		}

		h3{
			@include SubHeadingFonts;
			margin: 5px;
			// background-color: rgb(176, 220, 221);
		}
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// fix responsiveness ///////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
		ul{
			@include liFonts;
			// background-color: rgb(214, 221, 176);

			li{
				margin: 5px;
			}
		}
	
		h6{
			@include liFonts;
			margin: 5px;
			// background-color: rgb(177, 183, 236);
		}
	}

}

.highSchoolSVG, .collegeSVG, .graduateSVG, .educatorsSVG{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 100px;
	width: 65vw;

	// background-color: rgb(154, 214, 157);
}
.highSchoolSVG{
	background-image: url(../../static/images/undrawImages/highSchoolStudent.svg);
}
.collegeSVG{
	background-image: url(../../static/images/undrawImages/college.svg);
}
.graduateSVG{
	background-image: url(../../static/images/undrawImages/graduates.svg);
}
.educatorsSVG{
	background-image: url(../../static/images/undrawImages/educator.svg);
}
